:root{
  --main-color:#123652;
  --btn-color:#496D89;
  --btn-background:green;
  --font-color:white;
}
*{
  font-family:Arial, Helvetica, sans-serif;
  box-sizing:border-box;
  margin:0;
  padding:0;
}
.the-welcome-block{
  background:url('../images/bg-1.png') center no-repeat;
  height:900px;
  background-size:cover;
}
.the-welcome-block .text-heading{
    text-align:center;
    position:relative;
    top:25rem;
    color:var(--font-color);
}
.the-welcome-block .text-heading h1{
  font-size:3rem;
}
.the-navigation{
   background:var(--main-color);
}
.the-navigation button{
  background:var(--font-color);
}
.the-navigation button .navbar-toggler-icon{
  background:green;
}
.the-navigation  a{
  color:white;
  text-decoration:none;
  cursor:pointer;
}
.the-navigation a:hover{
  color:green;
}
