<footer>
  <p>All Rights Reserved to Alexandr Lamdan&copy;</p>
</footer>
</body>
<script src="{{asset('jquery/jquery-3.3.1.min.js')}}"></script>
<script src="{{asset('java_script/bootstrap.min.js')}}"></script>
</html>
